/*
elemeto-padre
  overflow: hidden;

elemento-hijo
  float: left;
*/

body {
  font: 15px arial;
  color: gray;
}

.top {
  border-bottom: 1px solid black;
  overflow: hidden;
}

.d-left {
  float: left;
}

.d-right {
  float: right;
}

.bar-menu {
  background: #E0E0E0;
  font-weight: bold;
  position: relative;
  text-align: center;
}

.bar-left,
.bar-right {
  list-style: none;
  margin: 0;
  padding: 0;
}

.bar-left a,
.bar-right a {
  display: block;
  color: inherit;
  text-decoration: none;
  padding: 15px;
}

.bar-left a:hover,
.bar-right a:hover {
  background: rgba(0, 0, 0, .2);
  color: black;
}

.bar-left li {
  border-right: 1px solid black;
  float: left;
}

.bar-right li {
  float: left;
}

ul.menu{
  display: inline-block;
  list-style: none;
  margin: 0;
  position: relative;
}
ul.menu li {
  float: left;
  padding: 15px;
  position: relative;
}



.button {
  background: gray;
  color: white;
  cursor: pointer;
  border: none;
  font-size: 1em;
  padding: 15px 40px;
  margin: 0;
  text-decoration: none;
}

.button:hover {
  background: rgba(0,0,0,.4);
}

.button.primary {
  background-color: #1b6396;
}

.button.primary:hover {
  background: rgba(27,99,150,.8);
}

.button.success {
  background-color: #dd426b;
}

.button.success:hover {
  background-color: rgba(221,66,107,.8);
}

.button.warning {
  background-color: #ffaa42;
}

.button.warning:hover {
  background-color: rgba(255,170,66,.8);
}

.button.danger {
  background-color: #ef5347;
}

.button.danger:hover {
  background-color: rgba(239,83,71,.8);
}

.button.info {
  background-color: #ffc74f;
}

.button.info:hover {
  background-color:rgba(255,199,79,.8);
}
